<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.changgou.pojo.TbSpec" >

    <select id="findSpecByCate" resultType="com.changgou.pojo.TbSpec">
        select * from tb_spec where template_id in (select template_id from tb_category where name = #{name})
    </select>
</mapper>